streamlit
python-dotenv
langchain
langchain-core
langchain-community
langchain-groq
langchain-huggingface
sentence-transformers
faiss-cpu
rank_bm25
PyMuPDF
python-docx
python-pptx
rapidocr-onnxruntime
opencv-python-headless
Pillow
numpy
pytest